@import 'nib'

:local(.title)
	font-size 3rem
	text-align center

:local(.cover)
	display block
	max-width 200px
	margin 0 auto

:local(.author)
	text-align center

:local(.description)
	font-size 1.6rem
	color #888
	margin 20px 0